.header {
    position: relative;
    background-color: transparent;
    z-index: 1;
    //background: #1B1B1B;
   .account-connected {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 38px;
    margin-left: 800px;
    background: #90c2f5;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #7ABFFF;
    box-sizing: border-box;
    color: #4880c5;
    //border-radius: 8px;
    span {
      margin-right: 8px;
      display: inline-block;
      width: 22px;
      height: 22px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    
  }
  .account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    
    position: relative;
    width: 154px;
    height: 38px;
    //left: 1151px;
    //top: 28.5px;
    
    /* primary blue */
    
    border: 1px solid #7ABFFF;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;

  p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #22292f;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 64px;

    @media #{$mdWidth} {
      display: flex;
      min-width: 1080px;
      height: auto;
    }
    @media #{$smWidth} {
      display: flex;
      height: auto;
      padding: 20px 15px;
    }
    @media #{$xsWidth} {
      display: flex;
      height: auto;
      padding: 20px 15px;
    }
    .more {
      margin-left: 7px;
      display: none;
    }
    @media #{$mdWidth} {
      .more {
        display: block;
      }
    }
    @media #{$smWidth} {
      .more {
        display: block;
      }
    }
    @media #{$xsWidth} {
      .more {
        display: block;
      }
    }
  }

  &__logo {
    //position: relative;
    position: absolute;
    width: 138.95px;
    height: 51.84px;
    left: 128.54px;
    top: 18.58px;
    

    &--small {
      display: none;
        @media #{$desktop} {
        svg {
          width: 155px;
          height: 24px;
        }
      }
      @media #{$mdWidth} {
        svg {
          width: 155px;
          height: 24px;
        }
      }
      @media #{$smWidth} {
        svg {
          width: 100px;
          height: 16px;
        }
      }
      @media #{$xsWidth} {
        svg {
          width: 100px;
          height: 16px;
        }
      }

      &.active {
        @media (max-width: 470px) {
          display: block;
        }
      }

      @media (max-width: 580px) {
        display: block;
      }
    }
  }
  &__btn {
    // margin-left: 24px;
    // @media #{$mdWidth} {
    //   display: block;
    //   position: absolute;
    //   top: 9px;
    //   right: 70px;
    // }

    // @media (max-width: 370px) {
    //   position: static;
    // }
    // @media #{$smWidth} {
    //   position: static;
    // }
    // @media #{$xsWidth} {
    //   position: static;
    // }
    // @media #{$mdWidth} {
    //   position: static;
    // }
    .connect-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      
      position: absolute;
      width: 154px;
      height: 38px;
      left: 1100px;
      //margin-left: 1000px;
      top: 28.5px;
      background: #2B2C2B;
      /* primary blue */
      
      border: 1px solid #7ABFFF;
      box-sizing: border-box;
      border-radius: 8px;

      img {
        position: static;
        width: 24px;
        height: 24px;
        left: 122px;
        top: 4px;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 8px;
      }
    }

    .buttonContainer {
      position: static;
      width: 106px;
      height: 24px;
      left: 8px;
      top: 4px;
      
      /* sub bold */
      
      font-family: Barlow;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      
      
      /* primary blue */
      
      color: #7ABFFF;
      
      
      /* Inside Auto Layout */
      
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0px 8px;
    }
  }
  .center {
    position: absolute;
    position: absolute;
    width: 1440px;
    height: 89px;
    left: 0px;
    top: 0px;

    /* Dark 1 */

    background: #2B2C2B;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 2;
    // padding: 0;
    // background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @media #{$desktop} {
      width: 100%;
      height: 100px;
      padding: 0 120px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1336px) {
       width: 1080px;
       padding: 0;
    }
    @media #{$mdWidth} {
      width: 1080px;
      height: auto;
      padding: 0;
    }
    @media #{$smWidth} {
      width: 100%;
      padding: 0;
    }
    @media #{$xsWidth} {
      width: 100%;
      min-width: 350px;
      padding: 0;
    }
  }
  .address {
    max-width: 153px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* sub bold */

    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* primary blue */

    color: #7ABFFF;
    //border: 1px solid #7ABFFF;
    //box-sizing: border-box;
    //border-radius: 8px;
    @media (max-width: 370px) {
      max-width: 120px;
    }

    img {
      width: 24px;
      margin-left: 4px;
    }
  }
}
